<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImgTypeSelectName" value="EdgeDetection"/>
    <add key="ImgTypeEdgeId" value="1"/>
    <add key="ImgTypeEdgeName" value="EdgeDetection"/>
    <add key="ImgTypeGrayScaleId" value="2"/>
    <add key="ImgTypeGrayScaleName" value="GrayScale"/>
    <add key="ImgTypeBinarizationId" value="3"/>
    <add key="ImgTypeBinarizationName" value="Binarization"/>
    <add key="ImgTypeGrayScale2DiffId" value="4"/>
    <add key="ImgTypeGrayScale2DiffName" value="GrayScale 2Diff"/>
    <add key="ImgTypeColorReversalId" value="5"/>
    <add key="ImgTypeColorReversalName" value="ColorReversal"/>
  </appSettings>
</configuration>